#survey-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 90px;

  & h1 {
    font-family: 'Nerko One', sans-serif;
    font-size: 72px;
    color: var(--primary-orange);

  }

  & .preview-container {
    display: flex;
    flex-direction: column;
    min-width: 1042px;

    & p {
        font-family: 'Mulish', sans-serif;
        font-size: 32px;
        color: var(--secondary-white);
        text-align: left;
        max-width: 600px;
    }
  }
  & .preview-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
  }

  
}
