<section class="survey-view">
 

<div class="survey-view__card">
    @if (survey(); as currentSurvey) {
        <div class="survey-view__header">
            @if (isExpired()) {
                <p class="survey-view__status survey-view__status--expired">Expired</p>
            } @else {
                <p class="survey-view__status survey-view__status--open">Published</p>
            }
            <p class="survey-view__end-date">{{ currentSurvey.ends_at }}</p>
            <p class="survey-view__category">{{ currentSurvey.category }}</p>
        </div>

        <h1 class="survey-view__title">{{ currentSurvey.title }}</h1>
        <p class="survey-view__description">{{ currentSurvey.description }}</p>

        <div class="survey-view__questions">
            @for (question of questions(); track question.id; let i = $index) {
                <app-question [question]="question" [index]="i"></app-question>
            }
        </div>

        <button class="survey-view__submit" (click)='submitSurvey()'>Complete survey</button>
    }
    
</div>

<div class="survey-view__results">
  <!--   <h2 class="survey-view__results-title">Results</h2>
    @for (result of results(); track result.id) {
        <div class="survey-view__result">
            <p class="survey-view__result-text">{{ result.answer_text }}</p>
            <p class="survey-view__result-votes">{{ result.votes }} votes</p>
        </div>
    } -->
</div>
</section>