

@font-face {
font-family: "Nerko One";
src: url("/assets/fonts/Nerko_One/NerkoOne-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Mulish";
src: url("/assets/fonts/Mulish/static/Mulish-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: "Nokora";
src: url("/assets/fonts/Nokora/static/Nokora-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
font-display: swap;
}


:root {
    --primary-orange: rgba(255, 183, 112, 1);
    --secondary-white: rgba(255, 255, 255, 1);
    --secondary-orange: rgba(255, 207, 161, 1);
    --font-family-main: 'Nerko One', sans-serif;
}

body {
    background-color: rgba(53, 39, 58, 1);
    margin: 0 auto;
    max-width: 1440px;
}

.preview-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	align-items: stretch;
	margin-top: 20px;
}
